.checkout-wrapper-container {
    padding: 2rem;
}

.checkout-section {
    display: flex;
    column-gap: 6rem;
    justify-content: center;
}

.heading {
    font-weight: bold;
    font-size: 2rem;
}

.txt-center {
    text-align: center;
}

#checkout-form div {
    margin-top: 1rem;
}

#checkout-form input {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem 1.75rem;
    width: 100%;
    border-radius: 0.25rem;
    border-color: lightgray;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 0.5rem;
    /* margin-left: 1rem; */
}

.input-icons i {
    position: absolute;
}

.input-icons {
    /* width: 100%; */
    /* margin-bottom: 10px; */
}

.icon {
    /* padding: 10px; */
    /* color: green; */
    /* min-width: 50px; */
    /* text-align: center; */
    padding: 0.6rem;
    margin-right: 0.25rem;
    color: lightgray;
    margin-top: 2px;
    /* font-size: 0.85rem; */
}

.d-flex {
    display: flex;
}

.col-1-gap {
    column-gap: 1rem;
}

.col-2-gap {
    column-gap: 2rem;
}

.m-1 {
    margin: 1rem;
}

#save-all-input-values-checkbox {
    width: min-content !important;
    align-self: center !important;
    margin-bottom: 0 !important;
}

#checkout-form-container {
    position: relative;
}

/* #checkout-form {
    margin: 4rem;
} */

.btn {
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    position: absolute;
    right: 0;
    cursor: pointer;

}

.btn::after {
    position: absolute;
    content: "";
    /* bottom: 2rem; */
    height: 3rem;
    width: 1px;
}

/*
.cart-container div {
    /* display: flex; 
}
*/

.cart-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(245, 240, 240); */
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.cart-item {
    display: flex;
}

.cart-item img {
    width: 50%;
    display: block;
    border-radius: 4rem;
    padding: 3rem;
}

.cart-item-info {
    margin: 1rem;
}

.cart-qty {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
    border: 1.5px solid lightgray;
    border-radius: 1rem;
}

.btn-plus,
.btn-minus {
    min-width: 1.5rem;
    cursor: pointer;
    border: none;
    background-color: lightgray;
    border-radius: 0.25rem;
}

.btn-continue {
    background-color: orange;
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
}

.cart-item-price {
    margin-top: 1rem;
}

.cart-item-price:nth-child(1) {
    width: max-content;
}

.cart-item-price p span:nth-child(1) {
    color: orange;
}

.cart-item-price p span:nth-child(2) {
    text-decoration: line-through;
}

.cart-item-price span+span {
    margin-left: 1rem;
}

hr {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.shipping-charge,
.total-charge {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-left: 1.15rem;
    margin-right: 1.15rem;
}

/* .cart-item {
    background-color: rgb(245, 240, 240);
} */

.cart-item-info {
    background-color: rgb(245, 240, 240);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cart-container .cart-item:nth-child(1) {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.cart-wrapper {
    background-color: rgb(245, 240, 240);
    border-radius: 1rem;
    padding: 1rem;
}

.txt-bold {
    font-weight: bold;
}

.mt-2 {
    margin-top: 2rem !important;
}


@media (max-width: 70em) {

    .checkout-section {
        /* flex-direction: column; */
    }

    .cart-item {
        display: block;
    }

    .cart-item img {
        width: 100%;
    }
}

@media (max-width: 40em) {

    .checkout-section {
        flex-direction: column;
    }

    .cart-wrapper {
        margin-top: 6rem;
    }

    .cart-item {
        display: flex;
    }

    .cart-item img {
        width: 50%;
    }
}

@media (max-width: 20em) {

    .cart-item {
        flex-direction: column;
    }

    .cart-item img {
        width: 100%;
    }
}